<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Peep</title>
</head>
<body>
  <ul>
    {{ range . }}
    <li>{{ ft .Name }} - {{ .Motto }}</li>
    {{ end}}
  </ul>


</body>
</html>
